:root {
    --font_family_body: 'Roboto', sans-serif;
    --font_family_heading: 'Jost', sans-serif; 
    --color_primary: #0071dc;
    --color_secondary: #f7bc20;
    --color_text_body: #6b6b6b;
    --color_hover_light: #cacaca;
    --color_text_heading: #161616;
    --facebook: #3b5998;
    --twitter : #00acee;
    --instagram : #3f729b;
    --pinterest : #3b5998;
    --youtube : #c4302b;
    --skype: #00aff0;
    --transition: 0.3s ease-in-out;
}

$color_primary: #0071dc;
$color_secondary: #f7bc20;
$color_text_body: #6b6b6b;
$color_hover_light: #cacaca;
$color_text_heading: #161616;
$facebook: #3b5998;
$twitter : #00acee;
$instagram : #3f729b;
$pinterest : #3b5998;
$youtube : #c4302b;
$skype: #00aff0;
