.contact-wrap-style-1 {
    padding-top: 0;
    @media (max-width: 991px) {
        padding-top: 100px;
    }
    @media (max-width: 767px) {
        padding-top: 90px;
    }
    @media (max-width: 575px) {
        padding-top: 80px;
    }
}

.address-box.style-1 {
    margin-bottom: 30px;
    box-shadow: 0 0 68px 0 rgba(#000000, 0.05);
    margin-top: -70px;
    position: relative;
    z-index: 2;
    background-color: #ffffff;
    text-align: center;
    padding: 50px 30px;
    border-radius: 5px;
    @media (max-width: 991px) {
        margin-top: 0;
    }
    .icon-box {
        margin-left: auto;
        margin-right: auto;
        height: 100px;
        width: 100px;
        font-size: 48px;
        background-color: var(--color_primary);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff;
        margin-bottom: 15px;
        @media (max-width: 1199px) {
            height: 90px;
            width: 90px;
            font-size: 42px;
        }
        @media (max-width: 991px) {
            height: 80px;
            width: 80px;
            font-size: 36px;
        }
        @media (max-width: 767px) {
            height: 70px;
            width: 70px;
            font-size: 32px;
        }
    }
    label {
        font-size: 22px;
        color: #747474;
        font-family: var(--font_family_heading);
        margin-bottom: 2px;
    }
    .title {
        font-weight: 500;
        margin-bottom: 0;
    }
}

.map-box.style-1 {
    height: 720px;
    border-radius: 15px;
}

.contact-form.style-1 {
    padding: 0 30px;
    margin-top: -160px;
    position: relative;
    z-index: 1;
    @media (max-width: 991px) {
        margin-top: 30px;
        padding: 0;
    }
    .inner {
        border-radius: 10px;
        background-color: #ffffff;
        padding: 55px 115px 25px;
        box-shadow: 0 0 68px 0 rgba(#000000, 0.07);
        @media (max-width: 991px) {
            padding: 45px 30px 25px;
        }
        .title {
            font-size: 24px;
            font-weight: 600;
            text-align: center;
        }
        .description {
            text-align: center;
            margin-bottom: 25px;
        }
        form {
            .form-group {
                margin-bottom: 30px;
            }
            .form-control {
                border: 0;
                background-color: #f7f7f7;
                color: var(--color_text_heading);
                &:focus {
                    box-shadow: none;
                }
            }
            input {
                height: 50px;
                padding: 5px 15px;
            }
            textarea {
                padding: 20px;
            }
        }
    }
    input.form-control::-webkit-input-placeholder,
    textarea.form-control::-webkit-input-placeholder {
        color: #818080;
        font-size: 15px;
    }
    input.form-control::-moz-placeholder,
    textarea.form-control::-moz-placeholder {
        color: #818080;
        font-size: 15px;
    }
    input.form-control:-moz-placeholder,
    textarea.form-control:-moz-placeholder {
        color: #818080;
        font-size: 15px;
    }
    input.form-control:-ms-input-placeholder,
    textarea.form-control:-ms-input-placeholder {
        color: #818080;
        font-size: 15px;
    }
}