.progress-wrap-style-1 {
    padding-top: 70px;
    padding-bottom: 80px;
    @media (max-width: 1199px) {
        padding-top: 60px;
        padding-bottom: 70px;
    }
    @media (max-width: 991px) {
        padding-top: 50px;
        padding-bottom: 60px;
    }
    @media (max-width: 767px) {
        padding-top: 40px;
        padding-bottom: 50px;
    }
    @media (max-width: 575px) {
        padding-top: 30px;
        padding-bottom: 40px;
    }
}

.progress-box.style-1 {
    text-align: center;
    margin-bottom: 30px;
    .counting-number {
        color: var(--color_primary);
        font-size: 50px;
        font-weight: 400;
        margin-bottom: 0;
        @media (max-width: 767px) {
            font-size: 36px;
        }
    }
    .counting-text {
        font-size: 22px;
        font-weight: 500;
        @media (max-width: 767px) {
            font-size: 20px;
        }
    }
}

.progress-wrap-style-2 {
    padding-top: 82px;
    padding-bottom: 50px;
    @media (max-width: 991px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    @media (max-width: 767px) {
        padding-bottom: 50px;
    }
    @media (max-width: 575px) {
        padding-bottom: 40px;
    }
}

.progress-box.style-2 {
    text-align: center;
    margin-bottom: 30px;
    .counting-number {
        color: var(--color_secondary);
        font-size: 50px;
        font-weight: 500;
        margin-bottom: 0;
        @media (max-width: 767px) {
            font-size: 36px;
        }
    }
    .counting-text {
        font-size: 24px;
        font-weight: 400;
        color: #ffffff;
        @media (max-width: 767px) {
            font-size: 20px;
        }
    }
}